{{define "title"}}Websites Management And Checking{{end}}

{{define "content"}}
<h3>Websites Management And Checking</h3>

<br>

<div class="col-md-4">

<h4>Websites Management</h4>

<ul class="list-group">
    <li class="list-group-item"><a href="/check_website.html">Check All Websites</a></li>
    <li class="list-group-item"><a href="/show_all_website.html">Show All Websites</a></li>
    <li class="list-group-item"><a href="/create_website.html">Create Website Link</a></li>
    <li class="list-group-item"><a href="/edit_id_website.html">Edit Website by ID</a></li>
    <li class="list-group-item"><a href="/delete_id_website.html">Delete Website by ID</a></li>
    <li class="list-group-item"><a href="/delete_all_website.html">Delete All Websites</a></li>
</ul>

</div>
{{end}}